<form>
  <div class="form-group">
    <label for="author">Author</label><br>
    {{input value=author class="author form-control"}}
  </div>

  <div class="form-group">
    <label for="answer">Answer</label><br>
    {{textarea rows="10" cols="100" value=answer id="answer"}}
  </div>
  <button {{action 'saveAnswer'}}>Save</button>
</form>
