@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Inconsolata');
$logo: #083a8c;

body {
  font-family: 'Cutive Mono', serif;
}

header {
  padding-right: 20%;
  text-align: center;
  #header {
    font-size: 60px;
  }

  #sub-header {
    font-size: 24px;
  }

  a {
    color: $logo;
  }

  a:hover, a:visited, a:active {
    text-decoration: none;
    color: $logo;
  }

  @keyframes first-pulse {
    0% {
      color: $logo;
    }
    50% {
      color: white;
    }
  }
  #first-period {
    animation: first-pulse 1s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
  }
}
