<header>
     {{#link-to 'index'}}
       <h1>Message Board
         <span id="first-period">.</span>
         <span id="second-period">.</span>
         <span id="third-period">.</span>
       </h1>
     {{/link-to}}
</header>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
