<header>
   {{#link-to 'index'}}
     <h1 id="header">question forum</h1>
     <h4 id="sub-header">I have a question about <span id="first-period">|</span></h4>
   {{/link-to}}
</header>
<body>
  <hr>
  <div class="container">
    {{outlet}}
  </div>
</body>
